@import url('/fonts/sf.font.css');
* {
    font-family: 'San Francisco';
    color: gainsboro;
    text-decoration: none;
    font-weight: 500;
}

body {
    background-color: black;
}

#navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 1.5cm;
    width: 100%;
    background-color: rgb(70, 70, 70);
    border-bottom: 1px solid rgb(85, 85, 85);
    box-shadow: 2px 2px 5px #00000050, 3px 3px 10px #00000050;
    z-index: 10;
}

.links {
    position: absolute;
    text-transform: capitalize;
    background-color: transparent;
    top: 0.5cm;
    left: 2.5%;
    cursor: pointer;
    display: flex;
    z-index: 11;
}

.contatti {
    color: gainsboro;
    margin-right: 50px;
}

.contatti:hover {
    transition: 150ms;
    color: white;
}

.contatti:not(hover) {
    transition: 150ms;
    color: gainsboro;
}

.home {
    color: gainsboro;
    margin-right: 50px;
}

.home:hover {
    transition: 500ms;
    color: white;
}

.home:not(hover) {
    transition: 500ms;
    color: gainsboro;
}

.eventi {
    color: gainsboro;
    margin-right: 50px;
}

.eventi:not(hover) {
    transition: 500ms;
    color: gainsboro;
}

.eventi:hover {
    transition: 500ms;
    color: white;
}

.crediti {
    color: gainsboro;
    margin-right: 50px;
}

.crediti:hover {
    transition: 500ms;
    color: white;
}

.crediti:not(hover) {
    transition: 500ms;
    color: gainsboro;
}

.donazioni {
    color: gainsboro;
    margin-right: 50px;
}

.donazioni:hover {
    transition: 500ms;
    color: white;
}

.donazioni:not(hover) {
    transition: 500ms;
    color: gainsboro;
}